section.section-side .section-content.section-business {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

@media screen and (max-width: 1024px) {
    section.section-side .section-content.section-business {
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
    }
}

section.section-side
    .section-content.section-business
    div.section-business-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 1024px) {
    section.section-side
        .section-content.section-business
        div.section-business-block {
        width: 100%;
    }
}

section.section-side
    .section-content.section-business
    div.section-business-block
    div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section.section-side .section-content.section-business img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    section.section-side .section-content.section-business img {
        height: 223px;
    }
}

section.section-side.section-about {
    color: #ffffff;
    background: linear-gradient(320deg, #031950, #034485);
    margin: 120px 0 0 0;
    padding: 148px 100px 132px 100px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    section.section-side.section-about {
        margin: 90px 0 0 0;
        padding: 90px 20px 108px 20px;
        width: 100%;
    }
}

section.section-side.section-about h2 hr {
    color: #ffffff;
}

ul.image-contents.section-about-contents {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0;
    margin-top: 40px;
}

ul.image-contents.section-about-contents li {
    display: flex;
    gap: 48px;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
    ul.image-contents.section-about-contents li {
        flex-direction: column;
        gap: 16px;
    }
}

ul.image-contents.section-about-contents li img {
    width: 360px;
    height: 240px;
}

@media screen and (max-width: 1024px) {
    ul.image-contents.section-about-contents li img {
        width: 100%;
        height: 223px;
    }
}

ul.image-contents.section-about-contents li div {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    ul.image-contents.section-about-contents li div {
        width: 100%;
    }
}

ul.image-contents.section-about-contents li div p.image-contents-ttl {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

ul.image-contents.section-about-contents li div .image-contents-number {
    font-size: 30px;
}

ul.image-contents.section-about-contents li div a {
    width: 280px;
    padding: 12px 0;
    border: 1px solid transparent;
    background-color: #ffffff;
    color: #000000;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

ul.image-contents.section-about-contents li div a:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    ul.image-contents.section-about-contents li div a {
        width: 240px;
        font-size: 12px;
    }
}

section.section-about-product {
    margin: 120px 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

@media screen and (max-width: 1024px) {
    section.section-about-product {
        flex-direction: column;
        margin: 108px 0 0 0;
        gap: 35px;
    }
}

section.section-about-product div {
    padding: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: #ffffff;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    section.section-about-product div {
        width: 100%;
        padding: 90px 20px;
        gap: 32px;
    }
}

section.section-about-product div h2 hr {
    color: #ffffff;
}

section.section-about-product div.section-about-product-01 {
    background-image: url("../images/index_product.png");
}

section.section-about-product div.section-about-product-02 {
    background-image: url("../images/index_equipment.png");
}
