/* 全ページ共通 */

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Noto Sans JP", "Hiragino Sans", sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;
    width: 100%;
}

a.header-contact {
    padding: 14px 34px;
    color: #ffffff;
    background: linear-gradient(320deg, #031950, #034485);
    width: fit-content;
    position: relative;
    z-index: 0;
}

a.header-contact:hover {
    color: #ffffff;
}

a.header-contact::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(320deg, #368de5, #034485);
    opacity: 0;
    transition: opacity 0.4s;
}

a.header-contact:hover::before {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    a.header-contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

header {
    position: sticky;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 8px 12px;
    }
}

header img {
    width: 52px;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    header img {
        width: 36px;
    }
}

header nav {
    gap: 48px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    header nav {
        display: none;
    }
}

header nav a {
    transition: all 0.4s ease;
}

header nav a:hover {
    color: #0a57a5;
    transition: all 0.4s ease;
}

header button {
    display: none;
}

@media screen and (max-width: 1024px) {
    header button {
        display: block;
    }
}

header div.menu-sp {
    display: none;
}

header div.menu-sp.active {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/menu-sp.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

header div.menu-sp.active nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    color: #ffffff;
    width: 100%;
    margin: auto 40px;
    gap: 0;
}

header div.menu-sp.active nav button.button-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 66px;
}

header div.menu-sp.active nav button.button-white a {
    padding: 0;
    text-align: center;
}

header div.menu-sp.active nav a {
    width: 100%;
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 1024px) {
    header div.menu-sp::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 1024px) {
    header button.menu-icon {
        background: none;
        border: none;
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 3;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    header button.menu-icon.menu-icon span,
    header button.menu-icon.menu-icon::before,
    header button.menu-icon.menu-icon::after {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 28px;
        height: 1px;
        margin: auto;
        background: #000000;
        color: #000000;
    }
    header button.menu-icon.menu-icon::before {
        transform: translate(0, -8px);
        content: "";
    }
    header button.menu-icon.menu-icon::after {
        transform: translate(0, 8px);
        content: "";
    }
    header button.menu-icon.menu-icon::before,
    header button.menu-icon.menu-icon::after {
        transition: transform 200ms;
    }
    header button.menu-icon.menu-icon.active span {
        opacity: 0;
        transition: opacity 150ms;
    }
    header button.menu-icon.menu-icon.active::before {
        z-index: 3;
        transform: rotate(45deg);
        background: #ffffff;
        color: #ffffff;
    }
    header button.menu-icon.menu-icon.active::after {
        z-index: 3;
        transform: rotate(-45deg);
        background: #ffffff;
        color: #ffffff;
    }
}

section.section-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

@media screen and (max-width: 1024px) {
    section.section-contact {
        flex-direction: column;
        gap: 12px;
    }
}

section.section-contact a {
    width: 33.333%;
    background: linear-gradient(320deg, #031950, #0a57a5);
    color: #ffffff;
    display: flex;
    gap: 16px;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: relative;
}

section.section-contact a::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(320deg, #368de5, #034485);
    opacity: 0;
    transition: opacity 0.4s;
}

section.section-contact a:hover::before {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    section.section-contact a {
        width: 100%;
        gap: 12px;
        padding: 22px 0;
    }
}

section.section-contact a span {
    font: 16px;
}

section.section-contact a p {
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 24px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    gap: 4px;
}

section.section-contact a p img {
    width: 24px;
    height: 24px;
}

footer {
    margin-top: 154px;
    background-color: #f3f3f3;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    footer {
        margin-top: 108px;
        padding: 58px 40px;
        flex-direction: column;
    }
}

footer img {
    width: 72px;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    footer img {
        width: 63px;
    }
}

footer .footer-navigation {
    display: flex;
    align-items: flex-start;
    gap: 104px;
}

footer .footer-navigation nav.footer-pc {
    display: flex;
    gap: 84px;
}

footer .footer-navigation nav.footer-pc a:hover {
    color: #0a57a5;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    footer .footer-navigation nav.footer-pc {
        display: none;
    }
}

footer nav.footer-sp {
    display: none;
}

@media screen and (max-width: 1024px) {
    footer nav.footer-sp {
        display: flex;
        gap: 16px;
        align-items: flex-start;
        margin-top: 41px;
        width: 100%;
    }
    footer nav.footer-sp div {
        gap: 16px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

footer .footer-navigation nav div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

@media screen and (max-width: 1024px) {
    footer .footer-contact-info {
        font-size: 12px;
        margin-top: 25px;
        width: 100%;
    }
}

/* コンテンツページ共通 */

h1 {
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 60px;
    color: #ffffff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 36px;
        letter-spacing: 0.01em;
        line-height: 46px;
        gap: 0;
    }
}

h1 span {
    font-size: 14px;
    font-weight: normal;
    font-family: "Noto Sans JP", "Hiragino Sans", sans-serif;
    line-height: 26px;
    letter-spacing: 0em;
}

@media screen and (max-width: 1024px) {
    h1 span {
        font-size: 12px;
    }
}

h2 {
    font-size: 26px;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 24px;
    }
}

h2 hr {
    color: #043a79;
    width: 32px;
    margin-top: 26px;
}

@media screen and (max-width: 1024px) {
    h2 hr {
        width: 28px;
        margin-top: 12px;
    }
}

section.section-side h2 {
    align-items: flex-start;
    white-space: nowrap;
}

section.section-wrap h2 {
    align-items: center;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}
h3.page-heading {
    font-weight: bold;
}

h4 {
    font-size: 24px;
    letter-spacing: 0.08em;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    h4 {
        font-size: 18px;
    }
}

h4 span {
    margin-top: 12px;
    font-size: 14px;
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
    letter-spacing: 0.04em;
}

@media screen and (max-width: 1024px) {
    h4 span {
        margin-top: 8px;
        font-size: 12px;
    }
}

div.content-top {
    width: 100%;
    height: 324px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 100px;
}

@media screen and (max-width: 1024px) {
    div.content-top {
        padding: 0 20px;
        height: 240px;
    }
}

div.content-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

div.content-top.company-information {
    background-image: url("../images/company_information.jpg");
}

div.content-top.equipment {
    background-image: url("../images/equipment.jpg");
}

div.content-top.product {
    background-image: url("../images/product.jpg");
}

div.content-top.news {
    background-image: url("../images/news.jpg");
}

div.content-top.contact {
    background-image: url("../images/contact.jpg");
}

div.content-top.privacy-policy {
    background-image: url("../images/privacy_policy.jpg");
}

div.content-top.about {
    background-image: url("../images/about.jpg");
}

section {
    margin: 120px 100px 0 100px;
    display: flex;
}

@media screen and (max-width: 1024px) {
    section {
        margin: 90px 20px 0 20px;
        display: block;
    }
}

section.section-side {
    gap: 40px;
    justify-content: space-between;
}

section.section-side .section-content {
    width: 75%;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    section.section-side .section-content {
        width: 100%;
        margin-top: 40px;
        gap: 24px;
    }
}

section.section-wrap {
    flex-direction: column;
    align-items: center;
}

section.section-noflex {
    flex-direction: column;
    align-items: center;
}

.page-top-area p {
    margin: 40px 0px 50px;
}

@media screen and (max-width: 1024px) {
    .page-top-area p {
        margin: 20px 0px 36px;
    }
}

.button-blue {
    padding: 14px 0;
    width: 180px;
    color: #ffffff;
    background-color: #043a79;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.button-blue:hover {
    background-color: transparent;
    border: 1px solid #043a79;
    color: #043a79;
    transition: all 0.4s ease;
}

.button-white {
    padding: 14px 0;
    width: 220px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.button-white:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    .button-white {
        margin: 0 auto;
        font-size: 12px;
        padding: 12px 0;
    }
}

.button-border {
    padding: 14px 0;
    width: 220px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.button-border:hover {
    color: #ffffff;
    border: 1px solid #043a79;
    background-color: #043a79;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    .button-border {
        margin: 0 auto;
        font-size: 12px;
        padding: 12px 0;
    }
}

.button-white-border {
    padding: 14px 0;
    width: 220px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.button-white-border:hover {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    .button-white-border {
        margin: 0 auto;
        font-size: 12px;
        padding: 12px 0;
    }
}

.text-center {
    text-align: center;
}

ul.image-contents {
    display: flex;
    gap: 60px;
    margin-top: 70px;
    margin-bottom: 140px;
}

@media screen and (max-width: 1024px) {
    ul.image-contents {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 50px;
        gap: 40px;
        width: 100%;
    }
}

ul.image-contents li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.333%;
    gap: 24px;
}

@media screen and (max-width: 1024px) {
    ul.image-contents li {
        width: 100%;
        gap: 16px;
    }
}

ul.image-contents li img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    ul.image-contents li img {
        height: 223px;
    }
}

ul.image-contents li div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    ul.image-contents li div {
        gap: 12px;
    }
}

.image-contents-number {
    font-size: 15px;
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
    letter-spacing: 0.05em;
    line-height: 40px;
}

.image-contents-number span {
    font-size: 28px;
}

.image-contents-ttl {
    font-size: 24px;
    line-height: 38px;
}

.news-list ul li {
    padding: 25px 0 25px;
    border-bottom: 1px solid #dddddd;
    transition: all 0.4s ease;
}

.news-list ul li:hover {
    color: #034485;
    border-bottom: 1px solid #034485;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    .news-list ul li {
        padding: 16px 0 16px;
    }
}

.news-list ul li:first-child {
    padding-top: 0px;
}

.news-list ul li span:first-child {
    display: inline-block;
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .news-list ul li span:first-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .news-list ul li a {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

/* アニメーション */

.anime {
    opacity: 0;
    transform: translateY(10px);
    transition: all 1s ease-out;
}

.anime.anime-show {
    opacity: 1;
    transform: translateY(0);
}

.anime-fade {
    animation-name: fadeInAnime;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
