#confirm-page section ul {
    width: 723px;
    margin: 0 auto 50px;
}

#confirm-page section ul li {
    border-bottom: 1px solid #dddddd;
    padding: 25px 0 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
}

#confirm-page section ul li span {
    display: block;
}
#confirm-page section ul li span:nth-child(2) {
    width: 500px;
}

#confirm-page .button-blue {
    display: block;
    margin: 70px auto;
    border: none;
    cursor: pointer;
}
