#contact-form section.section-contact a {
    width: 50%;
    padding: 40px 0;
    height: 180px;
    justify-content: center;
}

section.form-erea ul {
    width: 723px;
    margin: 0 auto 50px;
}

section.form-erea ul li {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.form-erea label {
    font-size: 16px;
    text-align: left;
}

section.form-erea ul li span {
    color: red;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
}

section.form-erea ul li input,
section.form-erea ul li textarea {
    width: 500px;
    border: solid 1px #dddddd;
}

section.form-erea ul li textarea {
    height: 236px;
}

section.form-erea .button-blue {
    display: block;
    margin: 70px auto;
    border: none;
    cursor: pointer;
}

#confirm-page section ul {
    width: 723px;
    margin: 0 auto 50px;
}

#confirm-page section ul li {
    border-bottom: 1px solid #dddddd;
    padding: 25px 0 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
}

#confirm-page section ul li span {
    display: block;
}
#confirm-page section ul li span:nth-child(2) {
    width: 500px;
}

#confirm-page .button-blue {
    display: block;
    margin: 70px auto;
    border: none;
    cursor: pointer;
}
