#contact-form section.section-contact a {
    width: 50%;
    padding: 40px 0;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    #contact-form section.section-contact a {
        width: 100%;
        gap: 6px;
        padding: 22px 0;
        height: 122px;
    }
}

section.form-erea ul {
    width: 723px;
    margin: 0 auto 50px;
}

@media screen and (max-width: 1024px) {
    section.form-erea ul {
        width: 100%;
    }
}

section.form-erea ul li {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    section.form-erea ul li {
        flex-direction: column;
        gap: 8px;
    }
}

section.form-erea label {
    font-size: 16px;
    text-align: left;
}

section.form-erea ul li span {
    color: red;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
}

section.form-erea ul li input,
section.form-erea ul li textarea {
    width: 500px;
    border: solid 1px #dddddd;
    padding: 8px;
}

@media screen and (max-width: 1024px) {
    section.form-erea ul li input,
    section.form-erea ul li textarea {
        width: 100%;
        padding: 4px;
    }
}

section.form-erea ul li textarea {
    height: 236px;
}

section.form-erea .button-blue {
    display: block;
    margin: 70px auto;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}

section.form-erea .button-blue:hover {
    background-color: transparent;
    border: 1px solid #043a79;
    color: #043a79;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
    section.form-erea .button-blue {
        margin: 48px auto;
    }
}

#confirm-page section ul {
    width: 723px;
    margin: 0 auto 50px;
}

@media screen and (max-width: 1024px) {
    #confirm-page section ul {
        width: 100%;
    }
}

#confirm-page section ul li {
    border-bottom: 1px solid #dddddd;
    padding: 25px 0 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    #confirm-page section ul li {
        flex-direction: column;
        gap: 8px;
        padding: 16px 0 16px;
    }
}

#confirm-page section ul li span {
    display: block;
}

#confirm-page section ul li span:nth-child(2) {
    width: 500px;
}

@media screen and (max-width: 1024px) {
    #confirm-page section ul li span:nth-child(2) {
        width: 100%;
    }
}

#confirm-page .button-blue {
    display: block;
    margin: 70px auto;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    border-radius: 0;
}

#confirm-page .button-blue:hover {
    background-color: transparent;
    border: 1px solid #043a79;
    color: #043a79;
    transition: all 0.4s ease;
}
