div.fv {
    width: 100%;
    height: 88svh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 100px;
    background-image: url("../images/index.jpg");
}

@media screen and (max-width: 1024px) {
    div.fv {
        padding: 50px 20px;
        flex-direction: column-reverse;
        align-items: stretch;
    }
}

div.fv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

div.fv p.fv-ttl {
    font-size: 40px;
    letter-spacing: 0.06em;
    line-height: 58px;
    color: #ffffff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 1024px) {
    div.fv p.fv-ttl {
        font-size: 24px;
        letter-spacing: 0.05em;
        line-height: 33px;
    }
}

div.fv p.fv-ttl span {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
}

@media screen and (max-width: 1024px) {
    div.fv p.fv-ttl span {
        font-size: 12px;
        line-height: 20px;
    }
}

div.fv span.fv-sub-ttl {
    font-size: 16px;
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
    letter-spacing: 0.04em;
    color: #ffffff;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    div.fv span.fv-sub-ttl {
        font-size: 12px;
        text-align: right;
    }
}

section.section-index-about-our-advantage {
    background: linear-gradient(320deg, #031950, #034485);
    margin: 0;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    section.section-index-about-our-advantage {
        padding: 0 20px;
    }
}

section.section-index-about-our-advantage div.index-about {
    margin-top: 168px;
    display: flex;
    gap: 206px;
}

@media screen and (max-width: 1024px) {
    section.section-index-about-our-advantage div.index-about {
        flex-direction: column;
        margin-top: 88px;
        gap: 28px;
    }
    section.section-index-about-our-advantage div.index-about div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

section.section-index-about-our-advantage div.index-our-advantage {
    margin-top: 168px;
    margin-bottom: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    section.section-index-about-our-advantage div.index-our-advantage {
        margin-top: 98px;
    }
}

section.section-index-about-our-advantage p.index-ttl,
section.section-index-product-equipment p.index-ttl,
section.section-company-information p.index-ttl,
section.section-news p.index-ttl {
    font-size: 48px;
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
    letter-spacing: 0.01em;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 1024px) {
    section.section-index-about-our-advantage p.index-ttl,
    section.section-index-product-equipment p.index-ttl,
    section.section-company-information p.index-ttl,
    section.section-news p.index-ttl {
        font-size: 36px;
        gap: 8px;
        line-height: 42px;
    }
}

section.section-index-about-our-advantage div.index-our-advantage p.index-ttl {
    align-items: center;
}

section.section-index-about-our-advantage p.index-ttl span,
section.section-index-product-equipment p.index-ttl span,
section.section-company-information p.index-ttl span,
section.section-news p.index-ttl span {
    font-family: "Noto Sans JP", "Hiragino Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 26px;
}

@media screen and (max-width: 1024px) {
    section.section-index-about-our-advantage p.index-ttl span,
    section.section-index-product-equipment p.index-ttl span,
    section.section-company-information p.index-ttl span,
    section.section-news p.index-ttl span {
        font-size: 12px;
    }
}

section.section-index-about-our-advantage p.index-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 46px;
}

@media screen and (max-width: 1024px) {
    section.section-index-about-our-advantage p.index-text {
        width: 100%;
    }
}

section.section-index-product-equipment {
    margin: 154px 0 0 0;
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: stretch;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    section.section-index-product-equipment {
        margin: 113px 0 0 0;
        gap: 35px;
    }
}

section.section-index-product-equipment div {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    section.section-index-product-equipment div {
        height: 540px;
        justify-content: center;
    }
}

section.section-index-product-equipment div.index-product {
    padding: 100px 50% 100px 100px;
    background-position: top right;
    margin-right: 100px;
    background-image: url("../images/index_product.png");
}

@media screen and (max-width: 1024px) {
    section.section-index-product-equipment div.index-product {
        padding: 0 20px;
        background-position: center;
        margin-right: 0;
    }
}

section.section-index-product-equipment div.index-equipment {
    padding: 100px 100px 100px 50%;
    background-position: left top;
    margin-left: 100px;
    background-image: url("../images/index_equipment.png");
}

@media screen and (max-width: 1024px) {
    section.section-index-product-equipment div.index-equipment {
        padding: 0 20px;
        background-position: center;
        margin-left: 0;
    }
}

section.section-company-information {
    background: linear-gradient(320deg, #031950, #034485);
    color: #ffffff;
    padding: 132px 100px;
    margin: 120px 0 0 0;
}

@media screen and (max-width: 1024px) {
    section.section-company-information {
        padding: 95px 20px 420px 20px;
        margin: 120px 0 0 0;
    }
}

section.section-company-information div.section-company-information-contents {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

section.section-company-information
    div.section-company-information-contents
    div.section-content {
    gap: 32px;
    display: flex;
    flex-direction: column;
}

section.section-company-information div.section-company-information-img {
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 70px;
    margin-top: -38px;
}

@media screen and (max-width: 1024px) {
    section.section-company-information div.section-company-information-img {
        position: absolute;
        right: 20px;
        gap: 46px;
        margin-top: 60px;
    }
}

section.section-company-information
    div.section-company-information-img
    img.index_company_information_01 {
    width: 342px;
    height: 322px;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    section.section-company-information
        div.section-company-information-img
        img.index_company_information_01 {
        width: 205px;
        height: 191px;
    }
}

section.section-company-information
    div.section-company-information-img
    img.index_company_information_02 {
    width: 491px;
    height: 345px;
    object-fit: cover;
    margin-right: 108px;
}

@media screen and (max-width: 1024px) {
    section.section-company-information
        div.section-company-information-img
        img.index_company_information_02 {
        width: 292px;
        height: 205px;
        margin-right: 43px;
    }
}

section.section-news {
    color: #000000;
    margin-top: 280px;
    gap: 169px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    section.section-news {
        flex-direction: column;
        margin-top: 189px;
        gap: 48px;
    }
}

section.section-news div.news-list {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
