.news-list ul li {
    padding: 25px 0 25px;
    border-bottom: 1px solid #dddddd;
}
.news-list ul li:first-child {
    padding-top: 0px;
}
.news-list ul li span:first-child {
    display: inline-block;
    margin-right: 40px;
}
